.movie-list-outer-div,
.show-list-outer-div {
    display: flex;
    flex-wrap: wrap;
}

div.card {
    transition: all 0.3s;
}

div.card:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

a.movie-card-link {
    text-decoration: none !important;
    color: black !important;
}
